<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./node_modules/vue/dist/vue.js"></script>
  <title>Vuejs Events</title>
</head>
<body>
  <div id="app">
    <button v-on:click="increase">Counter Up</button>
    <p>{{ counter }}</p>
    <p v-on:mousemove="updateCoordinates">Coordinates {{ x }} {{ y }}
      - <span v-on:mousemove.stop=""> DEAD SPOT</span>
    </p>
    <input type="text" v-on:keyup.enter="alertMe">
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        counter: 0,
        x: 0,
        y: 0
      },
      methods: {
        increase: function() {
          this.counter++;
        },
        updateCoordinates: function(event) {
          this.x = event.clientX;
          this.y = event.clientY;
        },
        alertMe: function(event) {
          alert(event.target.value);
        }
      }
    });
  </script>
</body>
</html>