<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-on:input="changeTitle">
      <a v-bind:href="link">Go to Google Canada</a>
      <p v-once>{{title}}</p>
      <p>{{ newTitle() }}</p>
      <p v-html="finishedLink"></p>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          title: 'Hello world!',
          link: 'http://www.google.ca',
          finishedLink: '<a href="http://www.google.com">Google.Com</a>'
        },
        methods: {
          changeTitle: function(event) {
            this.title = event.target.value;
          },
          newTitle: function() {
            this.title = 'First Section';
            return this.title;
          }
        }
      });
    </script>

  </body>
</html>