<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./node_modules/vue/dist/vue.js"></script>
  <title>Two Way Binding</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <p>{{ name }}</p>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        name: 'Jane Doe'
      }
    });
  </script>
</body>
</html>